body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 30px;
  transition: 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}
